body {
  background-color: #F0F0F1;
}

.adBody {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.tiles-estate {
  border: 1px solid #e7eaec;
  background-color: #ffffff;
  padding: 9px;
}